/*---------------------------------------------------*/
/* Typografies */
/*---------------------------------------------------*/

@font-face {
    font-family: Roxbourough;
    src: url(../assets/fonts/roxborough-cf/RoxboroughCF-Regular.otf);
}


/*---------------------------------------------------*/
/* Generals */
/*---------------------------------------------------*/
:root {

    --titleFont: Roxbourough;
    --contentFont: Poppins;  

    --sagePurple: #651DFF;

    --white: #ffffff;
    --black: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
    margin: 0;
    box-sizing: inherit;
}
body {
    line-height: 2;
    background-color: #FFFFFF;
}

/*---------------------------------------------------*/
/* Global */
/*---------------------------------------------------*/
.container {
    max-width: 120rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a, p {
    text-decoration: none;
    font-family: var(--contentFont);
}

h1, h2, h3 {
    font-family: 'Roxbourough';
    font-family: var(--titleFont);
}

.reset {
    margin: 0;
    padding: 0;
}
/*---------------------------------------------------*/
/* header */
/*---------------------------------------------------*/

.sage-header{
    width: 100%;
    padding-top: 4.7rem;
    padding-left: 7.3rem;
    padding-right: 7.3rem;
    position: fixed;
    top: 0;
    background-color: #F7F7F9;
    display: flex;
    flex-direction: column;
    gap: 207px;
    z-index: 2;
}

.sage-nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.sage-nav-menu{
    display: flex;
}

.nav-menu-item {
    text-decoration: none;
    margin-right: 40px;
    list-style: none;
    font-size: 12px;
    margin: 0 15px;
    gap: 20px;
    line-height: 80px;
    width: max-content;
}

.sage-nav-link{
    font-family: Poppins;
    color: var(--sagePurple);
    text-decoration: none;
    font-size: 12px;
}

.sage-logo{
    line-height: 80px;
    width: 125px;
    height: 63px;
}

.sage-nav-button {
    cursor: pointer;
    width: 127px;
    height: 40px;
    padding: 10px 24px;
    border-radius: 100px;
    justify-content: end;
    align-items: center;
    background: #6750A4;
    color: #FFFFFF;
    border-color: transparent;
    font-family: Poppins;
    font-size: 12px;
}

.sage-toggle{
    font-size: 2rem;
    padding: 0 20px;
}

/*---------------------------------------------------*/
/* Talk Session */
/*---------------------------------------------------*/
.sage-talk-session {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 33.1rem;
    padding-left: 14.0rem;
    gap: 1rem;
    background-color: #F7F7F9;
    padding-bottom: 6.7rem;
    
}

.sage-talk-session img {
    height: 310px;
    margin-left: -100px;
    margin-top: 6.3rem;
    
}

.sage-talk-session-title-span {
    color: var(--sagePurple); 
}

.sage-talk-session-title {
    max-width: 540px; 
    color: #1E255E;
    font-family: Roxbourough;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.25px; 
}


.sage-talk-session-content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.sage-talk-session-content p {
    width: 403.945px; 
    color: rgba(30, 37, 94, 0.70);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.sage-talk-session-content-terms {
    display: flex;
}

.sage-talk-session-content-terms p{
    width: 296px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.sage-talk-session-content-terms__button {
    border-radius: 100px; 
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--sagePurple);
}

.sage-talk-session-content-terms__button :hover {
    cursor: pointer;
}

.sage-talk-session-content-terms__button p {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

/*----------------------------------*/
/* Content Sage What We Offer */
/*----------------------------------*/

.sage-content {
    width: 100%;
    display: flex;
    margin-top: 9.9rem;
}

.sage-content-offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sage-content-offer h3 {
    color: #191919;
    font-family: Poppins;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.8rem; /* 135.714% */ 
    text-align: center;
}

.sage-content-foster {
    color: #595959;
    width: 520px; 
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 185.714% */ 
    text-align: center;
}

.sage-content-offers {
    display: flex;
    margin-top: 42px;
    gap: 42px;
}

.sage-offer {

}


/* Footer */
.sage-footer {
    width: 100%;
}