* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    padding: 90px 20px 0;
}

.sage-header{
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #F7F7F9;
}

.sage-nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    background-color: #F7F7F9;
}

.sage-nav-menu{
    display: flex;
    margin-right: 2.5rem;
    list-style: none;
}

.nav-menu-item {
    text-decoration: none;
    margin-right: 40px;
    list-style: none;
    font-size: 12px;
    margin: 0 15px;
    gap: 20px;
    line-height: 80px;
    width: max-content;
}

.sage-nav-link{
    font-family: Poppins;
    color: #651DFF;
    text-decoration: none;
    font-size: 12px;
}

.sage-logo{
    line-height: 80px;
    width: 125px;
    height: 63px;
    flex-shrink: 0;
    margin-top: 25px;
    margin-left: 25px;
}

.sage-nav-button {
    cursor: pointer;
    width: 127px;
    height: 40px;
    padding: 10px 24px;
    border-radius: 100px;
    justify-content: end;
    align-items: center;
    background: #6750A4;
    color: #FFFFFF;
    border-color: transparent;
    font-family: Poppins;
    font-size: 12px;
}

.nav-toggle{
    color: #651DFF;
    background: none;
    border: none;
    font-size: 1.8rem;
    padding: 0 1.25rem;
    line-height: 3.75rem;
}

@media (max-width: 768px){
    body{
        padding-top: 70px;
    }

    .sage-header{
        height: 3.75rem;
    }

    .sage-logo{
        line-height: 60px;
        width: 63px;
        height: 32px;
        flex-shrink: 0;
        margin-top: 25px;
        margin-left: 25px;
    }
    
    .sage-nav-menu{
        flex-direction: column;
        margin-right: 20px;
        list-style: none;
        background: blur;
    }
}